.App {
  text-align: center;
  background-color: #f5cac2;
  font-family:Arial, Helvetica, sans-serif;
  color: #141850;
}
.mainTitle {
  font-size: 50px;
  font-family: fantasy;
  text-decoration: underline;
  margin: 0;
  padding: 40px;
}

input {
  margin: 5px;
}

button {
  margin: 15px 3px 8px 3px;
  padding: 5px;
  background-color: #ed7966;
  color: #141850;
  border: 2px solid #141850;
}

.articleTitle {
  margin: 25px 0;
}

.keywords {
  text-decoration: underline;
  font-size: 18px;
  text-align: center;
}